<block-ui>
  <div class="card card-body">
    <div class="table-responsive">
      <table class="table table-sm">
        <thead>
        <tr>
          <th>#</th>
          <th>Title</th>
          <th>Category</th>
          <th>Price</th>
          <th>Date Created</th>
          <th>Status</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let d of ads; trackBy: trackByFn; index as i">
          <td>{{i + 1}}</td>
          <td>{{d.titleDescription?.title}}</td>
          <td>{{d.category?.name}}</td>
          <td>{{d.price?.value}}</td>
          <td>{{d.createdDate | date: 'dd-MMM-yy'}}</td>
          <td>{{d.status}}</td>
        </tr>
        </tbody>
      </table>
      <div class="alert text-center" *ngIf="ads?.length <= 0">No Ad Created Yet</div>
    </div>
  </div>
</block-ui>
