<div class="card card-body" *blockUI="'ad-list'">
  <h5 class="card-title font-weight-bold">My Ads</h5>
  <div class="table-responsive">
    <table tlimsTable>
      <thead>
      <tr>
        <th>#</th>
        <th>Title</th>
        <th>Category</th>
        <th>Price</th>
        <th>Date Created</th>
        <th>Status</th>
        <th>Authorized</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let d of ads; trackBy: trackByFn; index as i">
        <td>{{i + 1}}</td>
        <td>{{d.titleDescription?.title}}</td>
        <td>{{d.category?.name}}</td>
        <td>{{d.price?.value}}</td>
        <td>{{d.createdDate | date: 'dd-MMM-yy'}}</td>
        <td>{{d.status}}</td>
        <td>{{d.authorized}}</td>
      </tr>
      </tbody>
    </table>
    <div class="alert text-center" *ngIf="ads?.length <= 0">No Ad Created Yet</div>
  </div>
</div>
