<ul class="nav" style="display: block;">
  <li class="nav-item"><a href="javascript:void(0);" class="nav-link">Collapsible menu</a></li>
  <li class="nav-item"><a href="javascript:void(0);" class="nav-link">Accordion menu</a></li>
  <li class="nav-item"><a href="javascript:void(0);" class="nav-link">Bordered navigation</a></li>
  <li class="nav-item"><a href="javascript:void(0);" class="nav-link">Right icons</a></li>
  <li class="nav-item"><a href="javascript:void(0);" class="nav-link">Bad ges</a></li>
  <li class="nav-item"><a href="javascript:void(0);" class="nav-link">Disabled items</a></li>
</ul>
