<div class="form-group w-100" [ngClass]="styleClass">
  <label *ngIf="label && !checkBox" class="font-weight-bold">{{label | translate}} <sub class="text-danger f-14" *ngIf="required">*</sub></label>
  <label class="d-block font-weight-bold" *ngIf="label && checkBox">{{label | translate}}:</label>
  <div class="input-group">
    <ng-content></ng-content>
    <span class="input-group-append" *ngIf="isLoading">
      <span class="input-group-text"><i class="fa fa-spinner fa-spin"></i></span>
    </span>
  </div>
  <ng-content select="tlims-form-error"></ng-content>
</div>
