<form [formGroup]="eForm" novalidate>
  <div class="row">
    <div class="col-md-6">
      <div formGroupName="subCategory">
        <tlims-form-group label="Subcategory">
          <select tlimsInput (change)="populateCodeValueName('subCategory')" formControlName="code">
            <option *ngFor="let subCat of subCategories" [value]="subCat.categoryCode?.dataCode">{{subCat.titleDescription?.title}}</option>
          </select>
        </tlims-form-group>
      </div>
    </div>
    <div class="col-md-6">
      <div formGroupName="titleDescription">
        <tlims-form-group label="Title">
          <input tlimsInput placeholder="title" formControlName="title"/>
          <tlims-form-error [control]="eForm.get('titleDescription').get('title')"></tlims-form-error>
        </tlims-form-group>
      </div>
    </div>
    <div class="col-md-6" *ngIf="isField1 || isField4 || isField3 || isField2">
      <div formGroupName="subCatType">
        <tlims-form-group label="Item Type" [isLoading]="isDataLoading">
          <select tlimsInput formControlName="code" (change)="populateCodeValueName('subCatType')">
            <option [ngValue]="null">--Select Item Type--</option>
            <option *ngFor="let iType of itemTypes" [value]="iType.pickListcode?.dataCode">{{iType.titleDescription?.title}}</option>
          </select>
          <tlims-form-error [control]="eForm.get('subCatType').get('code')"></tlims-form-error>
        </tlims-form-group>
      </div>
    </div>
    <div class="col-md-6" *ngIf="isField2 || isField4">
      <div formGroupName="brand">
        <tlims-form-group label="Brand">
          <select tlimsInput formControlName="code" (change)="populateCodeValueName('brand')" [disableControl]="brands.length === 0">
            <option [ngValue]="null">--Select Brand--</option>
            <option *ngFor="let bd of brands" [value]="bd.pickListcode?.dataCode">{{bd.titleDescription?.title}}</option>
          </select>
          <tlims-form-error [control]="eForm.get('brand').get('code')"></tlims-form-error>
        </tlims-form-group>
      </div>
    </div>
    <div class="col-md-6" *ngIf="isField3">
      <div formGroupName="electMake">
        <tlims-form-group label="Make">
          <select tlimsInput formControlName="code" (change)="populateCodeValueName('electMake')">
            <option [ngValue]="null">--Select Make--</option>
            <option *ngFor="let mk of itemMakes" [value]="mk.pickListcode?.dataCode">{{mk.titleDescription?.title}}</option>
          </select>
          <tlims-form-error [control]="eForm.get('electMake').get('code')"></tlims-form-error>
        </tlims-form-group>
      </div>
    </div>
    <div class="col-md-6" *ngIf="isField4">
      <div formGroupName="electModel">
        <tlims-form-group label="Model">
          <select tlimsInput formControlName="code" (change)="populateCodeValueName('electModel')" [disableControl]="models.length === 0">
            <option [ngValue]="null">--Select Model--</option>
            <option *ngFor="let mk of models" [value]="mk.pickListcode?.dataCode">{{mk.titleDescription?.title}}</option>
          </select>
          <tlims-form-error [control]="eForm.get('electModel').get('code')"></tlims-form-error>
        </tlims-form-group>
      </div>
    </div>
    <div class="col-md-6" *ngIf="isField4">
      <div formGroupName="electSubType">
        <tlims-form-group label="Sub Type">
          <select tlimsInput formControlName="code" (change)="populateCodeValueName('electSubType')" [disableControl]="subTypes.length === 0">
            <option [ngValue]="null">--Select Sub Type--</option>
            <option *ngFor="let mk of subTypes" [value]="mk.pickListcode?.dataCode">{{mk.titleDescription?.title}}</option>
          </select>
          <tlims-form-error [control]="eForm.get('electSubType').get('code')"></tlims-form-error>
        </tlims-form-group>
      </div>
    </div>
    <div class="col-md-6" *ngIf="isField4">
      <div formGroupName="processor">
        <tlims-form-group label="Processor">
          <select tlimsInput formControlName="code" (change)="populateCodeValueName('processor')">
            <option [ngValue]="null">--Select Processor--</option>
            <option *ngFor="let mk of processors" [value]="mk.pickListcode?.dataCode">{{mk.titleDescription?.title}}</option>
          </select>
          <tlims-form-error [control]="eForm.get('processor').get('code')"></tlims-form-error>
        </tlims-form-group>
      </div>
    </div>
    <div class="col-md-6" *ngIf="isField4">
      <div formGroupName="coreNo">
        <tlims-form-group label="Number of Core(s)">
          <select tlimsInput formControlName="code" (change)="populateCodeValueName('coreNo')">
            <option [ngValue]="null">--Select Number of Core(s)--</option>
            <option *ngFor="let mk of cores" [value]="mk.pickListcode?.dataCode">{{mk.titleDescription?.title}}</option>
          </select>
          <tlims-form-error [control]="eForm.get('coreNo').get('code')"></tlims-form-error>
        </tlims-form-group>
      </div>
    </div>
    <div class="col-md-6" *ngIf="isField4">
      <div formGroupName="ram">
        <tlims-form-group label="Ram">
          <select tlimsInput formControlName="code" (change)="populateCodeValueName('ram')">
            <option [ngValue]="null">--Select Ram--</option>
            <option *ngFor="let mk of rams" [value]="mk.pickListcode?.dataCode">{{mk.titleDescription?.title}}</option>
          </select>
          <tlims-form-error [control]="eForm.get('ram').get('code')"></tlims-form-error>
        </tlims-form-group>
      </div>
    </div>
    <div class="col-md-6">
        <tlims-form-group label="Condition" required="true">
          <select tlimsInput formControlName="itemCondition">
            <option [ngValue]="null">--Select Condition--</option>
            <option *ngFor="let cod of conditions" [value]="cod.name">{{cod.value}}</option>
          </select>
          <tlims-form-error [control]="eForm.get('itemCondition')"></tlims-form-error>
        </tlims-form-group>
    </div>
    <div class="col-md-6">
      <tlims-form-group label="Price">
        <tlims-amount formControlName="price"></tlims-amount>
        <tlims-form-error [control]="eForm.get('price')"></tlims-form-error>
      </tlims-form-group>
    </div>
    <div class="col-md-6">
      <tlims-form-group>
        <div class="form-check mt-3">
          <label class="form-check-label">
            <input type="checkbox" name="negotiable" formControlName="negotiable"> Negotiable
          </label>
        </div>
      </tlims-form-group>
    </div>
    <div class="col-md-12">
      <div formGroupName="titleDescription">
        <tlims-description-box formControlName="description"></tlims-description-box>
        <tlims-form-error [control]="eForm.get('titleDescription').get('description')"></tlims-form-error>
      </div>
    </div>
  </div>
  <tlims-image-upload (images)="getImages($event)"></tlims-image-upload>
  <tlims-contact (contactDetails)="getContact($event)"></tlims-contact>
  <div class="row mt-4">
    <div class="col-md-12">
      <div class="form-group text-center">
        <button [tlimsButton]="isLoading" (click)="create()" [disabled]="eForm.invalid">Save</button>
        <button tlimsButton color="btn-danger" [disabled]="isLoading" (click)="cancel()">Cancel</button>
      </div>
    </div>
  </div>
</form>
