<form [formGroup]="gForm" novalidate>
  <div class="row">
    <div class="col-md-6">
      <div formGroupName="subCategory">
        <tlims-form-group label="Subcategory" required="true">
          <select tlimsInput (change)="populateCodeValueName('subCategory')" formControlName="code">
            <option *ngFor="let subCat of subCategories"
                    [value]="subCat.categoryCode?.dataCode">{{subCat.titleDescription?.title}}</option>
          </select>
        </tlims-form-group>
      </div>
    </div>
    <div class="col-md-6">
      <div formGroupName="titleDescription">
        <tlims-form-group label="Title" required="true">
          <input tlimsInput placeholder="title" formControlName="title"/>
          <tlims-form-error [control]="gForm.get('titleDescription').get('title')"></tlims-form-error>
        </tlims-form-group>
      </div>
    </div>
    <div class="col-md-6" *ngIf="isField1 || isField3">
      <tlims-form-group label="Item Type" [isLoading]="isDataLoading">
        <select tlimsInput formControlName="subCatType" (change)="populateCodeValueName('subCatType')">
          <option [ngValue]="null">--Select Item Type--</option>
          <option *ngFor="let iType of itemTypes"
                  [value]="iType">{{iType.name}}</option>
        </select>
        <tlims-form-error [control]="gForm.get('subCatType')" label="Item Type"></tlims-form-error>
      </tlims-form-group>
    </div>
    <div class="col-md-6" *ngIf="isField2">
      <tlims-form-group label="Color">
        <select tlimsInput formControlName="color">
          <option [ngValue]="null">--Select Color--</option>
          <option *ngFor="let col of colors" [ngValue]="col">{{col.name}}</option>
        </select>
      </tlims-form-group>
    </div>
    <div class="col-md-6" *ngIf="isField1">
      <tlims-form-group label="Condition" [checkBox]="true">
        <tlims-checkbox label="New" styleClass="mr-2">
          <input type="radio" class="form-check-input" formControlName="itemCondition" value="NEW" checked>
        </tlims-checkbox>
        <tlims-checkbox label="Used">
          <input type="radio" class="form-check-input" formControlName="itemCondition" value="USED">
        </tlims-checkbox>
      </tlims-form-group>
    </div>
    <div class="col-md-6">
      <tlims-form-group label="Price">
        <tlims-amount formControlName="price"></tlims-amount>
        <tlims-form-error [control]="gForm.get('price')"></tlims-form-error>
      </tlims-form-group>
    </div>
    <div class="col-md-6">
      <div class="form-check mt-4">
        <label class="form-check-label">
          <input type="checkbox" formControlName="negotiable"> Negotiable
        </label>
      </div>
    </div>
    <div class="col-md-12">
      <div formGroupName="titleDescription">
        <tlims-description-box formControlName="description"></tlims-description-box>
        <tlims-form-error [control]="gForm.get('titleDescription').get('description')"></tlims-form-error>
      </div>
    </div>
  </div>
  <tlims-image-upload (images)="getImages($event)"></tlims-image-upload>
  <tlims-contact-form (contactDetails)="getContact($event)"></tlims-contact-form>
  <div class="row">
    <div class="col-md-12">
      <div class="form-group text-center">
        <button [tlimsButton]="isLoading" (click)="create()" [disabled]="gForm.invalid">Save</button>
        <button tlimsButton color="btn-danger" [disabled]="isLoading" (click)="cancel()">Cancel</button>
      </div>
    </div>
  </div>
</form>
