<div class="d-flex flex-sm-row flex-column justify-content-between align-items-sm-center align-items-stretch py-1 px-3 bg-white mb-2">
  <div class="h-primary">
    <div class="form-inline">
      <div class="form-group mb-sm-0 mb-1 mr-2">
        <label class="font-weight-normal mb-0 pr-1" for="SortBy">
          {{'app.core.sortby' | translate}}:
        </label>
        <select class="form-control simple custom-select font-weight-bold" id="SortBy">
          <option value="manual" selected="selected">Featured</option>
          <option value="best-selling">Best Selling</option>
          <option value="title-ascending">Alphabetically, A-Z</option>
          <option value="title-descending">Alphabetically, Z-A</option>
          <option value="price-ascending">Price, low to high</option>
          <option value="price-descending">Price, high to low</option>
          <option value="created-descending">Date, new to old</option>
          <option value="created-ascending">Date, old to new</option>
        </select>
      </div>
      <div class="form-group mb-sm-0 mb-1">
        <label class="font-weight-normal mb-0 pr-1" for="itemSize">
          {{'app.core.show' | translate}}:
        </label>
        <select class="form-control simple custom-select font-weight-bold" id="itemSize" #selectTag (change)="getLimit(selectTag.value)">
          <option value="24" selected>24</option>
          <option value="48">48</option>
          <option value="64">64</option>
        </select>
      </div>
    </div>
  </div>
  <div class="h-secondary">
    <ul class="d-flex flex-row align-items-center list-unstyled mb-0">
      <li>
        <span class="card-title font-weight-normal mr-2 mt-2">{{'app.core.showingitems' | translate}} 1 - {{selectTag.value}}</span>
      </li>
      <li class="mr-1">
        <span class="card-title font-weight-normal mt-2">{{'app.core.display' | translate}}: </span>
      </li>
      <li class="mr-2"><a [routerLink]="url" [queryParams]="{'view': 'LIST'}" queryParamsHandling="merge"
             class="font-weight-bold"><i class="material-icons">format_list_bulleted</i></a></li>
      <li><a [routerLink]="url" [queryParams]="{'view': 'GRID'}" queryParamsHandling="merge"
             class="font-weight-bold"><i class="material-icons">apps</i></a></li>
    </ul>
  </div>
</div>


<!--<div class="card border-0 box-shadow-none border-radius-0 mb-2">-->
  <!--<div class="card-header bg-white header-elements-sm-inline">-->
      <!--<div class="collection-sort flex-items-middle d-inline-flex pb-md-0 pr-md-6">-->
        <!---->
      <!--</div>-->
    <!--<div class="header-elements">-->
      <!---->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
