<form [formGroup]="commForm" novalidate>
  <div class="row">
    <div class="col-md-6">
      <div formGroupName="subCategory">
        <tlims-form-group label="Subcategory">
          <select tlimsInput (change)="populateCodeValueName('subCategory')" formControlName="code">
            <option *ngFor="let subCat of subCategories"
                    [value]="subCat.categoryCode?.dataCode">{{subCat.titleDescription?.title}}</option>
          </select>
        </tlims-form-group>
      </div>
    </div>
    <div class="col-md-6">
      <div formGroupName="titleDescription">
        <tlims-form-group label="Title">
          <input tlimsInput placeholder="title" formControlName="title"/>
          <tlims-form-error [control]="commForm.get('titleDescription').get('title')"></tlims-form-error>
        </tlims-form-group>
      </div>
    </div>
    <div class="col-md-6" *ngIf="isField1">
      <div formGroupName="subCatType">
        <tlims-form-group label="Item Type" [isLoading]="isDataLoading">
          <select tlimsInput formControlName="code" (change)="populateCodeValueName('subCatType')">
            <option [ngValue]="null">--Select Item Type--</option>
            <option *ngFor="let iType of itemTypes"
                    [value]="iType.pickListcode?.dataCode">{{iType.titleDescription?.title}}</option>
          </select>
          <tlims-form-error [control]="commForm.get('subCatType').get('code')" label="Item Type"></tlims-form-error>
        </tlims-form-group>
      </div>
    </div>
    <div class="col-md-6" *ngIf="isField1">
      <tlims-form-group label="Power Source">
        <select tlimsInput formControlName="powerSource">
          <option [ngValue]="null">--Select Power Source--</option>
          <option *ngFor="let ps of powerSources"
                  [value]="ps.titleDescription?.title">{{ps.titleDescription?.title}}</option>
        </select>
        <tlims-form-error [control]="commForm.get('powerSource')"></tlims-form-error>
      </tlims-form-group>
    </div>
    <div class="col-md-6" *ngIf="isField1">
      <tlims-form-group label="Number of Trays">
        <input tlimsInput formControlName="trayNo" placeholder="tray number"/>
      </tlims-form-group>
    </div>
    <div class="col-md-6" *ngIf="isField1">
      <tlims-form-group label="Number of Decks">
        <input tlimsInput formControlName="deckNo" placeholder="deck number"/>
      </tlims-form-group>
    </div>
    <div class="col-md-6" *ngIf="isField1">
      <tlims-form-group label="Voltage">
        <input tlimsInput formControlName="voltage" placeholder="voltage"/>
      </tlims-form-group>
    </div>
    <div class="col-md-6" *ngIf="isField1">
      <tlims-form-group label="Maximum Temperature">
        <input tlimsInput formControlName="maxTemperature" placeholder="maximum temperature"/>
      </tlims-form-group>
    </div>
    <div class="col-md-6" *ngIf="isField1">
      <tlims-form-group label="Shape">
        <select tlimsInput formControlName="shape">
          <option [ngValue]="null">--Select Shape--</option>
          <option *ngFor="let sp of shapes" [value]="sp.titleDescription?.title">{{sp.titleDescription?.title}}</option>
        </select>
      </tlims-form-group>
    </div>
    <div class="col-md-6" *ngIf="isField1 || isField2">
      <tlims-form-group label="Weight">
        <input tlimsInput placeholder="weight" formControlName="weight"/>
      </tlims-form-group>
    </div>
    <div class="col-md-6" *ngIf="isField1 || isField2">
      <tlims-form-group label="Condition" [checkBox]="true">
        <tlims-checkbox label="New" styleClass="mr-2">
          <input type="radio" class="form-check-input" formControlName="itemCondition" value="NEW" checked>
        </tlims-checkbox>
        <tlims-checkbox label="Used">
          <input type="radio" class="form-check-input" formControlName="itemCondition" value="USED">
        </tlims-checkbox>
      </tlims-form-group>
    </div>
    <div class="col-md-6">
      <div class="form-check mt-4">
        <label class="form-check-label">
          <input type="checkbox" formControlName="contactForPrice" (click)="contactForPriceFg()"> Contact For Price
        </label>
      </div>
    </div>
    <div class="col-md-6" *ngIf="!this.commForm.get('contactForPrice').value">
      <tlims-form-group label="Price">
        <tlims-amount formControlName="price"></tlims-amount>
        <tlims-form-error [control]="commForm.get('price')"></tlims-form-error>
      </tlims-form-group>
    </div>
    <div class="col-md-6">
      <div class="form-check mt-4">
        <label class="form-check-label">
          <input type="checkbox" formControlName="negotiable"> Negotiable
        </label>
      </div>
    </div>
    <div class="col-md-12">
      <div formGroupName="titleDescription">
        <tlims-description-box formControlName="description"></tlims-description-box>
        <tlims-form-error [control]="commForm.get('titleDescription').get('description')"></tlims-form-error>
      </div>
    </div>
  </div>
  <tlims-image-upload (images)="getImages($event)"></tlims-image-upload>
  <tlims-contact (contactDetails)="getContact($event)"></tlims-contact>
  <div class="row">
    <div class="col-md-12">
      <div class="form-group text-center">
        <button [tlimsButton]="isLoading" (click)="create()" [disabled]="commForm.invalid">Save</button>
        <button tlimsButton color="btn-danger" [disabled]="isLoading" (click)="cancel()">Cancel</button>
      </div>
    </div>
  </div>
</form>
