<tlims-header label="app.core.contactus"></tlims-header>
<!--<tlims-breadcrumb></tlims-breadcrumb>-->
<tlims-content>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h5 class="font-weight-bold title">Info</h5>
        <div class="d-flex flex-column justify-content-start align-items-stretch">
          <p class="font-weight-normal">
            <a routerLink="/">Tlims-Kech.com</a> customer’s support team is always at your service to answer your
            questions and provide all the necessary assistance.
            At our customer care department - you can email your questions, suggestions, and comments at .......... (Pls
            Fix our customized email when it’s being hosted here)
          </p>
          <p class="font-weight-bold mt-3">
            Check our Frequently Asked Questions too it it will solve most of the issues you might be calling for
          </p>
        </div>
      </div>
      <div class="col-md-8">
        <div class="card card-body">
          <h5 class="font-weight-bold title">Send Message</h5>
          <tlims-message-form [title]="false"></tlims-message-form>
        </div>
      </div>
    </div>
  </div>
</tlims-content>
