<div class="row">
  <div class="col-sm-3">
    <tlims-side-menu></tlims-side-menu>
  </div>
  <div class="col-sm-9">
    <div class="row">
      <div class="col-md-6">
        <tlims-form-group label="Category">
          <select tlimsInput>
            <option [ngValue]="null">--Select Category--</option>
            <option>Electronic</option>
            <option>Fashion</option>
          </select>
        </tlims-form-group>
      </div>
      <div class="col-md-6">
        <tlims-form-group label="Subcategory">
          <select tlimsInput>
            <option [ngValue]="null">--Select Subcategory--</option>
            <option>Phones</option>
            <option>Bags</option>
          </select>
        </tlims-form-group>
      </div>
      <tlims-vehicle></tlims-vehicle>
    </div>
  </div>
</div>
<!--<tlims-category-view></tlims-category-view>-->
<!--<tlims-beauty-health></tlims-beauty-health>-->
<!--<tlims-commercial></tlims-commercial>-->
<!--<tlims-electronics></tlims-electronics>-->
<!--<tlims-fashion></tlims-fashion>-->
<!--<tlims-mobile></tlims-mobile>-->
<!--<tlims-repair></tlims-repair>-->

