
<div class="d-flex bg-grey-700">
  <div class="p-2 flex-fill tlims-f-item">
    <a routerLink="/tlims/bo">Dashboard</a>
  </div>
  <div class="p-2 flex-fill tlims-f-item">
    <a routerLink="/tlims/bo/user">Profile</a>
  </div>
  <div class="p-2 flex-fill tlims-f-item">
    <a routerLink="/tlims/bo/user/ads">Ads</a>
  </div>
  <div class="p-2 flex-fill tlims-f-item">
    <a routerLink="/tlims/bo/user/favorites">Favorites</a>
  </div>
  <div class="p-2 flex-fill tlims-f-item">
    <a routerLink="/tlims/bo/admin">Settings</a>
  </div>
  <div class="p-2 flex-fill tlims-f-item">
    <a routerLink="/tlims/bo/messages">Messages</a>
  </div>
</div>
<div class="content">
  <router-outlet></router-outlet>
</div>

