<tlims-content>
  <div class="d-flex justify-content-center">
      <!-- Login card -->
      <form class="login-form" novalidate [formGroup]="loginForm">
        <div class="card-body">
          <div class="text-center mb-3">
            <h3 class="mb-0 font-weight-bold">{{'app.core.signintitle' | translate}}</h3>
          </div>

          <tlims-form-group>
            <input type="text" class="form-control" [placeholder]="'app.core.username' | translate" formControlName="username">
          </tlims-form-group>

          <tlims-form-group>
            <input type="password" class="form-control" [placeholder]="'app.core.password' | translate" formControlName="password">
          </tlims-form-group>

          <div class="form-group d-flex align-items-center justify-content-end">
            <a href="javascript:void(0)" class="ml-auto">{{'app.core.forgotpassword' | translate}}</a>
          </div>

          <div class="form-group">
            <button type="button" class="btn-block" [tlimsButton]="isLoading" (click)="login()" translate>app.core.signin <i class="fa fa-user ml-2"></i></button>
          </div>

          <tlims-divider>{{'app.core.signinwith' | translate}}</tlims-divider>

          <div class="form-group text-center">
            <button type="button" class="btn btn-outline bg-indigo border-indigo text-indigo btn-icon rounded-round border-2"><i class="fa fa-facebook"></i></button>
            <button type="button" class="btn btn-outline bg-danger border-danger text-danger btn-icon rounded-round border-2 ml-2"><i class="fa fa-google"></i></button>
          </div>

          <tlims-divider>{{'app.core.newhere' | translate}}?</tlims-divider>

          <div class="form-group">
            <a routerLink="/tlims/sign-up" class="btn btn-warning btn-block">{{'app.core.signup' | translate}}</a>
          </div>

          <span class="form-text text-center text-muted">By continuing, you're confirming that you've read our <a href="#">Terms &amp; Conditions</a> and <a href="#">Cookie Policy</a></span>
        </div>
      </form>
      <!-- /login card -->
    </div>
</tlims-content>
