<header class="tk-header">
  <!-- Navbars wrapper -->
  <div class="navbar tlims-bg-default">
    <a class="navbar-brand text-white font-weight-bold" routerLink="/">TLims-Kech</a>
    <ul class="navbar-nav ml-xl-auto align-items-center">
      <li class="nav-item">
        <select #lang (change)="changeLanguage(lang.value)" class="form-control simple font-weight-semibold" style="height: 2rem">
          <option value="en" selected>EN</option>
          <option value="fr">FR</option>
          <option value="zh">ZH</option>
        </select>
      </li>
      <li class="nav-item">
        <a routerLink="/tlims/all-ads" class="navbar-nav-link font-weight-semibold text-success-800">{{'app.core.allads' | translate}}</a>
      </li>
      <li class="nav-item" *ngIf="!isLoggedIn">
        <a routerLink="/tlims/sign-in" class="navbar-nav-link font-weight-semibold">{{'app.core.signin' | translate}}</a>
      </li>
      <li class="nav-item dropdown dropdown-user show" *ngIf="isLoggedIn">
        <a href="javascript:void(0)" class="navbar-nav-link d-flex align-items-center" data-toggle="dropdown"
           aria-expanded="true">
          <img src="./assets/images/face18.jpg" class="rounded-circle mr-2" height="34" alt="">
          <span>{{activeUser}}</span>
        </a>

        <div class="dropdown-menu dropdown-menu-right">
          <a [routerLink]="APP_URL.bo?.user?.profile" class="dropdown-item"><i class="ti-user"></i> {{'app.core.profile' | translate}}</a>
          <a href="javascript:void(0)" class="dropdown-item" (click)="logout()"><i class="ti-power-off"></i> {{'app.core.logout' | translate}}</a>
        </div>
      </li>
      <li class="nav-item post-link">
        <a routerLink="/tlims/bo/post-ad" class="btn btn-warning text-white btn-sm">{{'app.core.postad' | translate}}</a>
      </li>
    </ul>
  </div>
  <!-- /navbars wrapper -->
</header>


