.tk-header {
  display: block;
  background: #374252;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  box-shadow: 0 4px 4px 0 rgba(23,23,23,.06);
}

.navbar-nav {
  -ms-flex-direction: row;
  flex-direction: row;
}


.navbar-brand {
  font-size: 1.2rem;
}

.dropdown-menu{
  .dropdown-item{
    color: #000;
  }
}

.post-link {
  display: flex;
  align-items: center;
}

@media (min-width: 576px) {
  .global-search {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .global-search {
    width: 400px;
  }
}
