<div class="row">
  <div class="col-md-2">
    <tlims-accordion title="Navigation" bodyClass="py-1">
      <div class="list-group border-0">
        <a routerLink="/tlims/bo/admin" class="list-group-item list-group-item-action">Ads</a>
        <a routerLink="/tlims/bo/admin/users" class="list-group-item list-group-item-action">Users</a>
        <a routerLink="/tlims/bo/admin/categories" class="list-group-item list-group-item-action">Categories</a>
        <a routerLink="/tlims/bo/admin/pick-list" class="list-group-item list-group-item-action">PickList</a>
        <a routerLink="/tlims/bo/admin/contacts" class="list-group-item list-group-item-action">Contacts</a>
        <a routerLink="/tlims/bo/admin/" class="list-group-item list-group-item-action">Settings</a>
      </div>
    </tlims-accordion>
  </div>
  <div class="col-md-10">
    <router-outlet></router-outlet>
  </div>
</div>
