<div class="card">
  <div class="card-body pt-0">
    <div class="row justify-content-end pb-3">
      <div class="col-md-4">
        <input class="form-control form-control-sm" [formControl]="searchField" placeholder="Search">
      </div>
    </div>
    <div class="table-responsive">
      <table tlimsTable>
        <thead>
        <tr>
          <th width="7%">#</th>
          <th width="40%">Title</th>
          <th width="20%">Category</th>
          <th width="10%">Status</th>
          <th>Activities</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let d of ads; trackBy: trackByFn; index as i">
          <td>{{i + 1}}</td>
          <td>
            <div class="d-flex flex-column">
              <span class="mb-1">
                <a class="tk-link font-weight-bold f-14"
                   [routerLink]="[APP_URL.adView, d.id, d.titleDescription?.title, d.code]">{{d.titleDescription?.title}}</a>
              </span>
              <span><strong class="font-size-sm text-muted">Category:</strong> {{d.category?.name}}</span>
              <span><strong class="font-size-sm text-muted">Created By:</strong> {{d.createdBy}}</span>
            </div>
          </td>
          <td>
            <div class="d-flex flex-column">
              <span><strong class="font-size-sm text-muted">Price:</strong> {{d.price?.value}}</span>
              <span><strong class="font-size-sm text-muted">Date Created:</strong> {{d.createdDate | date: 'dd-MMM-yy'}}</span>
            </div>
          </td>
          <td>
            <mat-slide-toggle (change)="toggleAction('status', d)" [checked]="d.status">{{d.status ? 'Active' : 'Inactive'}}</mat-slide-toggle>
          </td>
          <td>
            <div class="d-flex flex-column">
              <mat-slide-toggle (change)="toggleAction('featured', d)" [checked]="d.featured">Featured</mat-slide-toggle>
              <mat-slide-toggle (change)="toggleAction('sponsored', d)" [checked]="d.sponsored">Sponsored</mat-slide-toggle>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
      <ngx-loading-bar *ngIf="isLoading"></ngx-loading-bar>
      <div class="alert text-center" *ngIf="ads?.length <= 0">No ad yet</div>
    </div>
  </div>
</div>
