<tlims-search-box title="About Tlims-Kech" [withBreadCrumb]="false"></tlims-search-box>
<section class="tk-row2">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2 class="tk-bold">Why We Are Unique</h2>
        <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
          galley of type and scrambledit to make a type specimen book. It has survived not only five centuries, but also
          the leap into electronic typesetting, remaining essentially unchanged.</p>
        <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially
          unchanged.It has survived not only five centuries, but also the leap into publishing software like Aldus
          PageMaker including versions of Lorem Ipsum.</p>
        <p>Hmply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
          text ever since the 1500s, when an unknown printer took a galley of type and scrambledit to make a type
          specimen It has survived not only five centuries, but also the leap into electronic typesetting, remaining
          essentially unchanged.</p>
      </div>
      <div class="col-md-6">
        <img class="img-fluid" src="../../../../assets/images/about.png" alt="">
      </div>
    </div>
  </div>
</section>

<section class="tk-row3">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="item">
          <div class="img-thumb">
            <img src="../../../../assets/images/img2.png" alt="">
          </div>
          <div class="testimonial-item">
            <div class="content">
              <p class="description">Eiusmod tempor incidiunt labore velit dolore magna aliqu sed eniminim veniam quis
                nostrud exercition eullamco laborisaa, Eiusmod tempor incidiunt labore velit dolore magna.</p>
              <div class="info-text">
                <h3><a href="#" class="tk-bold">Priyanka</a></h3>
                <h5><a href="#">CEO of Dropbox</a></h5>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="item">
          <div class="img-thumb">
            <img src="../../../../assets/images/img3.png" alt="">
          </div>
          <div class="testimonial-item">
            <div class="content">
              <p class="description">Eiusmod tempor incidiunt labore velit dolore magna aliqu sed eniminim veniam quis
                nostrud exercition eullamco laborisaa, Eiusmod tempor incidiunt labore velit dolore magna.</p>
              <div class="info-text">
                <h3><a href="#" class="tk-bold">Johnny Zeigler</a></h3>
                <h5><a href="#">CEO of Dropbox</a></h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
