<div class="card h-100 border-0 box-shadow-none border-radius-0">
  <img class="card-img-top img-fluid" [src]="ad?.images[0] ? baseUrl + ad?.images[0] : '../../../../assets/images/blank.jpg'"
       [attr.alt]="ad?.images[0] ? ad?.images[0] : '../../../../assets/images/blank.jpg'">
  <div class="card-body bg-light text-center">
    <h6 class="font-weight-normal mb-0">
      <a [routerLink]="[routerLink, ad.id, ad.titleDescription?.title, ad.code]" class="text-default mb-0">{{ad.titleDescription?.title}}</a>
    </h6>
    <a [routerLink]="[routerLink, ad.category?.code]" class="text-orange-700 f-12">{{ad.category?.name}}</a>
    <h6 class="mb-0 font-weight-semibold text-success">{{ad.price?.value}}</h6>
    <div>
      <i class="ti-star font-size-base text-warning-300"></i>
      <i class="ti-star font-size-base text-warning-300"></i>
      <i class="ti-star font-size-base text-warning-300"></i>
      <i class="ti-star font-size-base text-warning-300"></i>
      <i class="icon-star-half font-size-base text-warning-300"></i>
    </div>
    <!--<div class="text-muted mb-3">34 reviews</div>-->
  </div>
</div>

