<!-- Middle placement -->
<div class="card">
  <div class="card-body">
    <h5 class="card-title">Middle placement Middle placement Middle placement</h5>
    <p class="card-text">Example of <code>middle</code> placement -
      image placed between card content containers (card header, card body and card footer). Image requires <code>.img-fluid</code> class for proper sizing.</p>
  </div>

  <div class="card-img-actions">
    <img class="img-fluid" src="../../../../assets/images/5.png" alt="">
    <div class="card-img-actions-overlay">
      <a href="../../../../assets/images/5.png" class="btn btn-outline bg-white text-white border-white border-2" data-popup="lightbox">
        Preview
      </a>
      <a href="javascript:void(0)" class="btn btn-outline bg-white text-white border-white border-2 ml-2">
        Details
      </a>
    </div>
  </div>

  <div class="card-footer d-flex justify-content-between">
    <span class="font-size-sm text-uppercase font-weight-semibold">Nov 12, 11:25 am</span>
    <span class="font-size-sm text-uppercase text-success font-weight-semibold">N900,000,000</span>
  </div>
</div>
<!-- /middle placement -->
