<main class="tk-main">
  <section class="tk-row1">
    <div class="home-search-card">
      <h1 class="head-title tk-bold">Welcome to the World's Largest International Online <span class="year">Marketplace</span></h1>
      <p class="hm-text">Buy and sell everything from used cars to mobile phones and computers, or search for properties,
        jobs and many more</p>
      <tlims-search></tlims-search>
    </div>
  </section>

  <section class="tk-row2">
    <div class="container">
      <div class="tk-heading flexbox">
        <h3 class="tk-bold">Popular {{'app.core.category' | translate}}</h3>
      </div>
      <div class="row justify-content-start">
        <a class="col-md-2 col-6 category-col" *ngFor="let cat of categories"
           [routerLink]="['/tlims/ad', cat.categoryCode?.dataCode]">
          <div class="d-flex flex-column justify-content-center align-items-center">
            <img src="../../../assets/images/category/{{cat.image}}" [alt]="cat.image" class="img rounded" width="100"
                 height="100">
            <span class="tk-bold text-center f-8r pt-2">{{cat.titleDescription?.title}}</span>
          </div>
        </a>
      </div>
    </div>
  </section>

  <tlims-sponsored></tlims-sponsored>
  <tlims-featured></tlims-featured>

  <section class="tk-row5">
    <div class="container">
      <div class="row">
        <div class="col-md-5">
          <div class="py-100">
            <h2><span style="color: #ffffff;">Register & Benefit</span></h2>
            <ul class="info-list">
              <li><span>Participate in auctions</span></li>
              <li><span>Submit your ads</span></li>
              <li><span>Promote your ads</span></li>
              <li><span>Get reviewed to become noticeable</span></li>
              <li><span>Save favorite ads</span></li>
              <li><span>And more</span></li>
            </ul>
            <div>
              <a tlimsButton color="btn-warning" routerLink="/tlims/how-it-works">How It Works</a>
            </div>
          </div>
        </div>
        <div class="col-md-7">
          <div class="info-img"></div>
        </div>
      </div>
    </div>
  </section>
  <tlims-recommended></tlims-recommended>
</main>

<section class="tlims-postAds">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center text-white">
        <h2 class="head-title tk-bold">Do you have something to sell?</h2>
        <p class="hm-text">Post your ad for free on tlims-kech.com</p>
        <a routerLink="/tlims/bo/post-ad" tlimsButton color="btn-warning">Post Your Ad</a>
      </div>
    </div><!-- row -->
  </div>
</section>

