<div class="container">
  <div class="d-md-flex align-items-md-start">
    <div class="sidebar sidebar-light bg-transparent sidebar-component sidebar-component-left border-0 shadow-0 sidebar-expand-md">
      <tlims-accordion>
        <p>Angular works</p>
      </tlims-accordion>
    </div>

    <div class="flex-fill">
      <div class="row">
        <div class="col-md-4">
          <tlims-grid></tlims-grid>
        </div>
        <div class="col-md-4">
          <tlims-grid></tlims-grid>
        </div>
        <div class="col-md-4">
          <tlims-grid></tlims-grid>
        </div>

        <div class="col-md-12">
          <tlims-media></tlims-media>
        </div>
      </div>
    </div>
  </div>
</div>
