<tlims-search-box [withBreadCrumb]="false"></tlims-search-box>
<ngx-slick-carousel class="carousel" [config]="slideConfig">
  <div ngxSlickItem *ngFor="let slide of slidess" class="slide">
    <!--<img [src]="slide.img" alt="" class="img" height="400" width="100%">-->
    <div class="slider-image" [ngStyle]="{'background-image':'url(' + slide.img + ')'}"></div>
  </div>
</ngx-slick-carousel>

<div class="container">
  <div class="card tlims-card border-0 shadow-0">
    <div class="card-body">
      <h5 class="card-title font-weight-bold">Category</h5>
      <div class="row justify-content-center">
        <div class="col category-col" *ngFor="let cat of categories">
          <div class="d-flex flex-column justify-content-center align-items-center">
            <img src="../../../assets/images/category/{{cat.image}}" [alt]="cat.image" class="img rounded" width="100"
                 height="100">
            <a [routerLink]="['/tlims/ad', cat.categoryCode?.dataCode]"><span class="font-weight-semibold text-center f-14 text-ellipsis">{{cat.titleDescription?.title}}</span></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <tlims-featured></tlims-featured>
  <tlims-recommended></tlims-recommended>
</div>

