<tlims-content>
  <div class="d-flex justify-content-center">
    <!-- Forgot password card -->
    <form class="login-form" novalidate>
      <div class="card-body">
        <div class="text-center mb-3">
          <h3 class="font-weight-bold">{{'app.core.forgotpasswordtitle' | translate}}</h3>
        </div>
        <tlims-form-group [label]="'app.core.email' | translate" required="true">
          <input tlimsInput [placeholder]="'app.core.email' | translate" [formControl]="emailControl">
        </tlims-form-group>
        <div class="form-group">
          <button type="button" class="btn-block btn" [tlimsButton]="isLoading" [disabled]="emailControl.invalid" (click)="submit()" translate>app.core.proceed</button>
        </div>
        <div class="form-group d-flex align-items-center justify-content-end">
          <a href="javascript:void(0)" (click)="back()" class="ml-auto">{{'app.core.backtologin' | translate}}</a>
        </div>
      </div>
    </form>
    <!-- /login card -->
  </div>
</tlims-content>
