<section class="tk-row3">
  <div class="container">
    <div class="row">
      <div class="col-12 category-col" *blockUI="'featuresList'">
        <ng-container *ngIf="slideConfigs">
          <div class="tk-heading flexbox">
            <h3 class="tk-bold">{{'app.core.featureditems' | translate}}</h3>
            <div class="btn-group">
              <button (click)="slickModal.slickGoTo(1)" class="btn-prev"></button>
              <button (click)="slickModal.slickGoTo(2)" class="btn-next"></button>
            </div>
          </div>
          <ngx-slick-carousel class="carousel" [config]="slideConfigs" #slickModal="slick-carousel">
            <div ngxSlickItem *ngFor="let slide of images" class="slide px-1">
              <div class="card border-0 mb-0">
                <div class="card-img-actions">
                  <img class="card-img img-fluid" [src]="slide.image" alt="" width="355" height="250">
                </div>
                <div class="card-body py-3">
                  <h5 class="tk-bold f-15 text-ellipsis">
                    <ng-container *ngIf="slide.code">
                      <a class="tk-link" [routerLink]="[APP_URL.adView, slide.id, slide.text, slide.code]">{{slide.text}}</a>
                    </ng-container>
                    <ng-container *ngIf="!slide.code">
                      {{slide.text}}
                    </ng-container>
                  </h5>
                </div>
              </div>
            </div>
          </ngx-slick-carousel>
        </ng-container>
      </div>
    </div>
  </div>
</section>
