<tlims-content>
  <div class="d-flex justify-content-center">
    <!-- Login card -->
    <form class="login-form" novalidate [formGroup]="resetPassForm">
      <div class="card-body">
        <div class="text-center mb-3">
          <h3 class="font-weight-bold">{{'app.core.resettitle' | translate}}</h3>
          <p>{{'app.core.resetmsg' | translate}}: <span class="text-primary">{{email}}</span></p>
        </div>
        <tlims-form-group [label]="'app.core.token' | translate" required="true">
          <input type="password" tlimsInput [placeholder]="'app.core.token' | translate" formControlName="token">
        </tlims-form-group>

        <tlims-form-group [label]="'app.core.password' | translate" required="true">
          <input type="password" tlimsInput [placeholder]="'app.core.password' | translate" formControlName="password">
        </tlims-form-group>
        <div class="form-group">
          <button type="button" class="btn-block" [tlimsButton]="isLoading" [disabled]="resetPassForm.invalid" (click)="submit()" translate>app.core.submit</button>
        </div>
      </div>
    </form>
    <!-- /login card -->
  </div>
</tlims-content>
