<tlims-header label="app.core.faq"></tlims-header>
<!--<tlims-breadcrumb></tlims-breadcrumb>-->
<tlims-content>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <tlims-accordion title="1. How To Post An Advert or How Do I Post An Advert on Tlims-Kech.com" styleClass="pt-2 pb-3">
          <p class="font-weight-semibold">To post Ads on Tlims-Kech.com is easy and fast, just take the following steps to proceed:</p>
          <ol>
            <li>Click on Post Ad For FREE NOW</li>
            <li>Complete all the information about your item such as title, category, region, description, price and add photos (at least three photos needed for cars and phones).</li>
            <li>After filling out the required fields, click on “Post” button.</li>
            <li><p>
              Once you post your ad, you will be immediately redirected to our registration page (if you are not a registered user).
              You will have to fill out all the required fields and click on ‘Register’ button at the bottom of the page.
            </p></li>
            <li>Your advert will be published shortly once moderation process is completed.</li>
            <li>Once your advert is live, you will receive a notification email.</li>
            <li>Be ready to receive numerous incoming calls from your potential buyers. Good luck with your sales!</li>
          </ol>
        </tlims-accordion>
        <tlims-accordion [isCollapsed]="true" title="2. Reasons why my add has been placed on hold or denied approval" styleClass="pt-2 pb-3">
          <p class="font-weight-semibold">There are several reasons why your ad can be placed on hold by our moderators</p>
          <ol>
            <li>Pictures you've uploaded contain contact numbers. We do not allow posting this kind of photos. Please add pics which don't have any phone numbers for your ads to be active on Tlims-Kech.com</li>
            <li>There are certain restrictions concerning prices users might set. Please, input an appropriate price for your advert to be approved. If the price is not relevant, it may be declined. Make sure to carry out some investigation of a market value of an item you intend to sell.</li>
            <li>You tried to post several items within one ad. It is not allowed to do that. Each item for sale must be posted separately, one ad - one product. Please follow this simple rule so that your ad is activated shortly.</li>
          </ol>
        </tlims-accordion>
        <tlims-accordion [isCollapsed]="true" title="3. What are Premium Services?" styleClass="pt-2 pb-3">
          <p class="font-weight-semibold">Ads limit is a number of free ads one can post in a particular category</p>
        </tlims-accordion>
      </div>
    </div>
  </div>
</tlims-content>
