.search-card {
  padding: 1rem 1.25rem;
  background: rgba(0,0,0,0.1);

  .form-group {
    margin-bottom: 0;
  }
}


@media (max-width: 768px) {
  .search-card {
    .form-group {
      margin-bottom: 1rem;
    }
  }
}
