<div class="search-card">
  <div class="row">
    <div class="col-md-3">
      <div class="form-group">
        <select class="form-control">
          <option value="0">Vehicles</option>
          <option value="1">Electronics</option>
          <option value="2">Mobile Phone & Laptops</option>
        </select>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <input type="search" class="form-control" placeholder="Search">
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <input type="search" class="form-control" placeholder="What are you looking for?">
      </div>
    </div>
  </div>
</div>
