<div id="ngdialog1" class="ngdialog ngdialog-theme-default custom-popup x-large-width" role="alertdialog"
     aria-labelledby="ngdialog1-aria-labelledby" aria-describedby="ngdialog1-aria-describedby">
  <div class="ngdialog-overlay"></div>
  <div class="ngdialog-content" role="document">
    <section class="section section-popup row m-0 light-bg side-content-left"
             style="background-size: cover; background-repeat: no-repeat; background-position: center center;" id="ngdialog1-aria-describedby">
      <div class="popup-main-content col-12 col-sm text-center">
        <p> Dialog Content</p>
      </div>

    </section>
    <button aria-label="Dismiss" class="ngdialog-close"></button>
  </div>
</div>
