<tlims-content>
  <div class="d-flex justify-content-center">
    <form class="login-form" novalidate [formGroup]="registerForm">
      <div class="card mb-0">
        <div class="card-body">
          <div class="text-center mb-3">
            <h3 class="mb-0 font-weight-bold">Sign Up</h3>
            <span class="d-block text-muted">* fields are required</span>
          </div>

          <div class="form-group text-center text-muted content-divider">
            <span class="px-2">Your contacts</span>
          </div>

          <tlims-form-group>
            <input class="form-control" placeholder="First Name" formControlName="firstName" (change)="buildDisplayName()">
            <tlims-form-error [control]="registerForm.get('firstName')"></tlims-form-error>
          </tlims-form-group>

          <tlims-form-group>
            <input class="form-control" placeholder="Last Name" formControlName="lastName" (change)="buildDisplayName()">
            <tlims-form-error [control]="registerForm.get('lastName')"></tlims-form-error>
          </tlims-form-group>

          <tlims-form-group>
            <input class="form-control" placeholder="Display Name" formControlName="displayName" (change)="buildDisplayName()">
          </tlims-form-group>

          <tlims-form-group>
            <input class="form-control" placeholder="Phone Number" formControlName="phoneNumber">
          </tlims-form-group>

          <div class="form-group text-center text-muted content-divider">
            <span class="px-2">Your credentials</span>
          </div>

          <tlims-form-group>
            <input type="email" class="form-control" placeholder="Email" formControlName="email">
            <tlims-form-error [control]="registerForm.get('email')"></tlims-form-error>
          </tlims-form-group>

          <tlims-form-group>
            <input type="password" class="form-control" placeholder="Password" formControlName="password">
            <tlims-form-error [control]="registerForm.get('password')"></tlims-form-error>
          </tlims-form-group>

          <div class="form-group text-center text-muted content-divider">
            <span class="px-2">Additions</span>
          </div>

          <div class="form-group">
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="subscribe" required>
              <label class="custom-control-label" for="subscribe">Subscribe to monthly newsletter</label>
            </div>
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="accept" required>
              <label class="custom-control-label" for="accept">Accept <a href="#">terms of service</a></label>
            </div>
          </div>
          <div class="form-group">
            <button type="button" [tlimsButton]="isLoading" (click)="register()" class="btn-block">Register <i class="fa fa-check ml-2"></i></button>
          </div>

          <tlims-divider>Already have an account?</tlims-divider>

          <div class="form-group">
            <a routerLink="/tlims/sign-in" class="btn btn-warning btn-block">Sign in</a>
          </div>
        </div>
      </div>
    </form>
  </div>
</tlims-content>

