<form [formGroup]="mForm" novalidate>
  <div class="row">
    <div class="col-md-6">
      <tlims-form-group label="Title">
        <input tlimsInput placeholder="title"/>
      </tlims-form-group>
    </div>
    <div class="col-md-6">
      <tlims-form-group label="Item Type">
        <select tlimsInput>
          <option [ngValue]="null">--Select Item Type--</option>
          <option>Electronic</option>
          <option>Fashion</option>
        </select>
      </tlims-form-group>
    </div>
    <div class="col-md-6">
      <tlims-form-group label="Brand">
        <select tlimsInput>
          <option [ngValue]="null">--Select Brand--</option>
          <option>Electronic</option>
          <option>Fashion</option>
        </select>
      </tlims-form-group>
    </div>
    <div class="col-md-6">
      <tlims-form-group label="Model">
        <select tlimsInput>
          <option [ngValue]="null">--Select Model--</option>
          <option>Electronic</option>
          <option>Fashion</option>
        </select>
      </tlims-form-group>
    </div>
    <div class="col-md-6">
      <tlims-form-group label="Color">
        <select tlimsInput>
          <option [ngValue]="null">--Select Color--</option>
          <option>Electronic</option>
          <option>Fashion</option>
        </select>
      </tlims-form-group>
    </div>
    <div class="col-md-6">
      <tlims-form-group label="Screen Size">
        <select tlimsInput>
          <option [ngValue]="null">--Select Screen Size--</option>
          <option>Electronic</option>
          <option>Fashion</option>
        </select>
      </tlims-form-group>
    </div>
    <div class="col-md-6">
      <tlims-form-group label="Ram">
        <select tlimsInput>
          <option [ngValue]="null">--Select Ram Size--</option>
          <option>Electronic</option>
          <option>Fashion</option>
        </select>
      </tlims-form-group>
    </div>
    <div class="col-md-6">
      <tlims-form-group label="Style">
        <select tlimsInput>
          <option [ngValue]="null">--Select Style--</option>
          <option>Electronic</option>
          <option>Fashion</option>
        </select>
      </tlims-form-group>
    </div>
    <div class="col-md-6">
      <tlims-form-group label="Operation System (OS)">
        <select tlimsInput>
          <option [ngValue]="null">--Select Operation System (OS)--</option>
          <option>Electronic</option>
          <option>Fashion</option>
        </select>
      </tlims-form-group>
    </div>
    <div class="col-md-6">
      <tlims-form-group label="Price">
        <tlims-amount></tlims-amount>
      </tlims-form-group>
    </div>
    <div class="col-md-6">
      <div class="form-check">
        <label class="form-check-label">
          <input type="checkbox" name="isExchangeable" class="form-input-styled" data-fouc> Exchangeable
        </label>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-check">
        <label class="form-check-label">
          <input type="checkbox" name="negotiable" class="form-input-styled" data-fouc> Negotiable
        </label>
      </div>
    </div>
  </div>
</form>

