<footer class="site-footer">
  <div class="row">
    <div class="col-lg-5">
      <h6 class="text-uppercase fs-14 ls-1">About</h6>
      <p class="text-justify footer-text-color">
        <strong>Tlims-Kech</strong> is a powerful, responsive, and high-performance admin template.
        It's based on Bootstrap and contains a lot of components to easily make an admin, dashboard.
        This template comes with a simple yet beautiful design which focused on ease of use for users.
        Efficiently expedite equity invested products rather than extensive outsourcing. Holisticly deliver principle centered imperatives after.</p>
    </div>

    <div class="col-md-4 col-lg-2 text-left1 text-lg-center1">
      <h6 class="text-uppercase fs-14 ls-1">Company</h6>
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link" routerLink="/tlims/about-us">About us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/tlims/about-us">How it works</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/tlims/about-us">Terms of use</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/tlims/policy">Privacy policy</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/tlims/contact-us">Contact us</a>
        </li>
      </ul>
    </div>

    <div class="col-md-4 col-lg-2 text-left1 text-lg-center1">
      <h6 class="text-uppercase fs-14 ls-1">Support</h6>
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link" href="#">Help center</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/tlims/faq">FAQ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Forums</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Official blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Ask question</a>
        </li>
      </ul>
    </div>

    <div class="col-md-4 col-lg-3 text-left1 text-lg-center1">
      <h6 class="text-uppercase fs-14 ls-1">Newsletter</h6>
      <p class="footer-text-color"><strong>Subscribe</strong> to our newsletter to receive news, updates, and special offers:</p>
      <br>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Enter your email address">
      </div>
      <button class="btn btn-success btn-block" type="button"><i class="fa fa-paper-plane"></i> Subscribe</button>
    </div>

  </div>
  <hr>

  <div class="row">
    <div class="col-md-6 justify-content-center justify-content-md-start">
      <p>Copyright © 2019 <a href="http://thetheme.io/theadmin">Tlims-Kech</a>. All rights reserved.</p>
    </div>
    <div class="col-md-6">
      <ul class="nav nav-primary nav-dotted nav-dot-separated justify-content-center justify-content-md-end">
        <li class="nav-item">
          <a class="nav-link" href="#">Terms of use</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Privacy policy</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
      </ul>
    </div>
  </div>
</footer>
