<section class="tk-row3">
  <div class="container">
    <div class="row">
      <div class="col-md-12" *ngIf="slideConfigs">
        <div class="flexbox tk-heading">
          <h3 class="tk-bold">{{'app.core.recommeneditems' | translate}}</h3>
          <div class="btn-group">
            <button (click)="slickModal.slickGoTo(1)" class="btn-prev"></button>
            <button (click)="slickModal.slickGoTo(2)" class="btn-next"></button>
          </div>
        </div>
        <ngx-slick-carousel class="carousel" [config]="slideConfigs" #slickModal="slick-carousel">
          <div ngxSlickItem *ngFor="let slide of images" class="slide px-1">
            <div class="card border-0 box-shadow-none border-radius-0 mb-0 bg-light">
              <div class="card-img-actions">
                <img class="card-img img-fluid" [src]="slide.image" alt="" width="355" height="250">
              </div>
              <div class="card-body px-0 py-1">
                <div class="d-flex align-items-start flex-nowrap">
            <span class="font-weight-semibold f-14 text-ellipsis">
              {{slide.text}}
            </span>
                </div>
              </div>
            </div>
          </div>
        </ngx-slick-carousel>
      </div>
    </div>
  </div>
</section>
