<!--<ul class="list-unstyled account-list">-->
  <!--<li class="edit-info"><a href="https://www.journal-theme.com/9/index.php?route=account/edit">Edit your account information</a></li>-->
  <!--<li class="edit-pass"><a href="https://www.journal-theme.com/9/index.php?route=account/password">Change your password</a></li>-->
  <!--<li class="edit-address"><a href="https://www.journal-theme.com/9/index.php?route=account/address">Modify your address book entries</a></li>-->
  <!--<li class="edit-wishlist"><a href="https://www.journal-theme.com/9/index.php?route=account/wishlist">Modify your wish list</a></li>-->
<!--</ul>-->

<div class="row bg-white">
  <div class="col">
    <a class="card" routerLink="/tlims/bo/user">
      <div class="card-body text-center">
        <i class="fa fa-users f-38"></i>
        <h5 class="box-text">Edit Account</h5>
      </div>
    </a>
  </div>
  <div class="col">
    <div class="card">
      <div class="card-body">
        <h5>Edit Account</h5>
        <a class="btn btn-danger btn-sm btn-bold" routerLink="/forex/wallet"><i class="fa fa-briefcase mr-2"></i>Buy
          Coin</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <div class="card-body">
        <h5>Edit Account</h5>
        <a class="btn btn-danger btn-sm btn-bold" routerLink="/forex/wallet"><i class="fa fa-briefcase mr-2"></i>Buy
          Coin</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <div class="card-body">
        <h5>Edit Account</h5>
        <a class="btn btn-danger btn-sm btn-bold" routerLink="/forex/wallet"><i class="fa fa-briefcase mr-2"></i>Buy
          Coin</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <div class="card-body">
        <h5>Edit Account</h5>
        <a class="btn btn-danger btn-sm btn-bold" routerLink="/forex/wallet"><i class="fa fa-briefcase mr-2"></i>Buy
          Coin</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <div class="card-body">
        <h5>Edit Account</h5>
        <a class="btn btn-danger btn-sm btn-bold" routerLink="/forex/wallet"><i class="fa fa-briefcase mr-2"></i>Buy
          Coin</a>
      </div>
    </div>
  </div>
</div>
