<form novalidate [formGroup]="mForm">
  <div class="mb-3" *ngIf="title">
    <h3 class="mb-0 font-weight-bold">{{'app.core.message' | translate}}</h3>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div formGroupName="contact">
        <tlims-form-group label="app.core.name">
          <input type="text" class="form-control" [placeholder]="'app.core.name' | translate" formControlName="name">
        </tlims-form-group>
      </div>
    </div>
    <div class="col-md-6">
      <div formGroupName="contact">
        <tlims-form-group label="app.core.phonenumber">
          <input type="text" class="form-control" [placeholder]="'app.core.phonenumber' | translate" formControlName="phoneNumber">
        </tlims-form-group>
      </div>
    </div>
    <div class="col-md-6">
      <div formGroupName="contact">
        <tlims-form-group label="app.core.email">
          <input type="text" class="form-control" [placeholder]="'app.core.email' | translate" formControlName="email" (change)="validate()">
        </tlims-form-group>
      </div>
    </div>
    <div class="col-md-6">
      <tlims-form-group label="app.core.recipient">
        <input type="text" readonly class="form-control-plaintext" formControlName="recipient">
      </tlims-form-group>
    </div>
    <div class="col-md-12">
      <tlims-description-box formControlName="content" label="app.core.content" [showToolbar]="false" [plainText]="true"></tlims-description-box>
    </div>
  </div>

  <div class="form-group">
    <button type="button" class="btn-block" [tlimsButton]="isLoading" [disabled]="disableBtn"
            (click)="submit()" translate>app.core.send <i class="fa fa-send-o ml-2"></i></button>
  </div>
</form>
