<div class="card tlims-card card-body border-0 mb-0 box-shadow-none border-radius-0">
  <div class="media flex-column flex-sm-row align-items-sm-start align-items-center">
    <div class="mr-sm-3 mb-2 mb-sm-0">
      <div class="d-block">
          <a href="javascript:void(0)">
          <img [src]="ad?.images[0] ? baseUrl + ad?.images[0] : '../../../../assets/images/blank.jpg'"
               class="img img-thumbnail" width="218" height="218"
               [attr.alt]="ad?.images[0] ? ad?.images[0] : '../../../../assets/images/blank.jpg'">
        </a>
      </div>
    </div>

    <div class="media-body">
      <h5 class="media-title font-weight-semibold">
        <a [routerLink]="[routerLink, ad.id, ad.titleDescription?.title, ad.code]">{{ad.titleDescription?.title}}</a>
      </h5>
      <ul class="list-inline list-inline-dotted text-muted mb-2 f-12">
        <li class="list-inline-item" *ngIf="ad.category?.name"><a [routerLink]="[routerLink, ad.category?.code]" class="text-orange-700">{{ad.category?.name}}</a></li>
        <li class="list-inline-item" *ngIf="ad.subCategory?.name"><a href="javascript:void(0)" class="text-orange-700">{{ad.subCategory?.name}}</a></li>
        <li class="list-inline-item" *ngIf="ad.brand?.name"><a href="javascript:void(0)" class="text-orange-700">{{ad.brand?.name}}</a></li>
        <li class="list-inline-item text-orange-700">Amsterdam, Netherlands</li>
      </ul>
      <p [innerHTML]="ad.titleDescription?.description | shorten: 400: '...'"></p>
    </div>

    <div class="ml-sm-3 mt-2 mt-sm-0">
      <div class="d-flex flex-column">
        <h5 class="font-weight-semibold text-success">{{ad.price?.value}}</h5>
        <!--<span class="badge bg-slate">New</span>-->
      </div>
    </div>
  </div>
</div>
