<div class="card card-body">
  <div class="media flex-column flex-sm-row">
    <div class="mr-sm-3 mb-2 mb-sm-0">
      <div class="d-block">
        <span>
          <a href="#">
          <img src="../../../../assets/images/dell.png" class="rounded" width="100" height="100" alt="">
        </a>
        </span><br>
        <span class="badge bg-blue mt-4">New</span>
      </div>
    </div>

    <div class="media-body">
      <h6 class="media-title font-weight-semibold">
        <a href="#">Interaction UX/UI Industrial Designer</a>
      </h6>

      <ul class="list-inline list-inline-dotted text-muted mb-2">
        <li class="list-inline-item"><a href="#" class="text-muted">Dell</a></li>
        <li class="list-inline-item">Amsterdam, Netherlands</li>
      </ul>

      Extended kindness trifling remember he confined outlived if. Assistance sentiments yet unpleasing say. Open they an busy they my such high. An active dinner wishes at unable hardly no talked on. Immediate him her resolving his favourite. Wished denote abroad at branch at. Mind what no by kept.
    </div>

    <div class="ml-sm-3 mt-2 mt-sm-0">
      <div class="d-flex flex-column">
        <h5 class="font-weight-semibold">N 9000,000,000</h5>
        <span class="badge bg-slate">New</span>
      </div>
    </div>
  </div>
</div>
