<div class="card card-body" *blockUI="'usersList'">
  <h5 class="card-title font-weight-bold">Users</h5>
  <div class="table-responsive">
    <table tlimsTable>
      <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Email</th>
        <th>Phone Number</th>
        <th>Status</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let d of users; trackBy: trackByFn; index as i">
        <td>{{i + 1}}</td>
        <td>{{d.firstName + ' ' + d.lastName}}</td>
        <td>{{d.email}}</td>
        <td>{{d.phoneNumber}}</td>
        <td>
          <span class="badge-success badge" *ngIf="d.status">Active</span>
          <span class="badge-danger badge" *ngIf="!d.status">Inactive</span>
        </td>
        <td>
          <div class="list-icons">
            <div class="dropdown">
              <a href="#" class="list-icons-item" data-toggle="dropdown" aria-expanded="false">
                <i class="material-icons">more_vert</i>
              </a>
              <div class="dropdown-menu dropdown-menu-right" x-placement="bottom-end">
                <a (click)="confirm(d)" class="dropdown-item">
                  <span *ngIf="d.status">Mark as Inactive</span>
                  <span *ngIf="!d.status">Mark as Active</span>
                </a>
              </div>
            </div>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
    <div class="alert text-center" *ngIf="users?.length <= 0">No User</div>
  </div>
</div>
