<div class="card mb-0">
  <div class="card-body text-center">
    <div class="d-inline-block mb-3">
      <img class="img-fluid rounded-circle" src="../../../../assets/images/face1.jpg" width="80" height="80" alt="">
    </div>
    <h6 class="font-weight-semibold mb-0">{{user.firstName}} {{user.lastName}}</h6>
    <span class="d-block text-muted">{{user.role | titlecase}}</span>
    <!--<div class="list-icons list-icons-extended mt-3">-->
      <!--<a href="javascript:void(0)" class="list-icons-item" data-popup="tooltip" title="Google Drive"-->
         <!--data-container="body"><i class="ti-google"></i></a>-->
      <!--<a href="javascript:void(0)" class="list-icons-item" data-popup="tooltip" title="Twitter"-->
         <!--data-container="body"><i class="ti-twitter"></i></a>-->
      <!--<a href="javascript:void(0)" class="list-icons-item" data-popup="tooltip" title="Github"-->
         <!--data-container="body"><i class="ti-github"></i></a>-->
    <!--</div>-->
  </div>
</div>
