<form [formGroup]="vehicleForm" novalidate>
  <div class="row">
    <div class="col-md-6">
      <div formGroupName="subCategory">
        <tlims-form-group label="Subcategory">
          <select tlimsInput (change)="populateCodeValueName('subCategory')" formControlName="code">
            <option *ngFor="let subCat of subCategories"
                    [value]="subCat.categoryCode?.dataCode">{{subCat.titleDescription?.title}}</option>
          </select>
        </tlims-form-group>
      </div>
    </div>
    <div class="col-md-6">
      <div formGroupName="titleDescription">
        <tlims-form-group label="Title">
          <input tlimsInput placeholder="title" formControlName="title"/>
          <tlims-form-error [control]="vehicleForm.get('titleDescription').get('title')"></tlims-form-error>
        </tlims-form-group>
      </div>
    </div>
    <div class="col-md-6" *ngIf="isField2 || isField4">
      <tlims-form-group label="Item Type">
        <select tlimsInput formControlName="subCatType">
          <option [ngValue]="null">--Select Item Type--</option>
          <option *ngFor="let iTyp of itemTypes" [ngValue]="iTyp">{{iTyp.name}}</option>
        </select>
      </tlims-form-group>
    </div>
    <div class="col-md-6" *ngIf="isField1">
      <tlims-form-group label="Brand">
        <select tlimsInput formControlName="brand" (change)="getDependentList('brand')">
          <option [ngValue]="null">--Select Brand--</option>
          <option *ngFor="let bd of brands" [ngValue]="bd">{{bd.name}}</option>
        </select>
      </tlims-form-group>
    </div>
    <div class="col-md-6" *ngIf="isField2 || isField3 || isField4">
      <tlims-form-group label="Make">
        <select tlimsInput formControlName="make" (change)="getDependentList('make')">
          <option [ngValue]="null">--Select Make--</option>
          <option *ngFor="let make of makes" [ngValue]="make">{{make.name}}</option>
        </select>
      </tlims-form-group>
    </div>
    <div class="col-md-6" *ngIf="isField1 || isField3">
      <tlims-form-group label="Model" [isLoading]="isDataLoading">
        <select tlimsInput formControlName="model" [disableControl]="models.length === 0">
          <option [ngValue]="null">--Select Model--</option>
          <option *ngFor="let make of models" [ngValue]="make">{{make.name}}</option>
        </select>
      </tlims-form-group>
    </div>
    <div class="col-md-6" *ngIf="isField1 ||isField2 || isField3 || isField4">
      <tlims-form-group label="Year">
        <select tlimsInput formControlName="year">
          <option [ngValue]="null">--Select Year--</option>
          <option *ngFor="let yr of years" [ngValue]="yr">{{yr.name}}</option>
        </select>
      </tlims-form-group>
    </div>
    <div class="col-md-6" *ngIf="isField1 || isField3">
      <tlims-form-group label="Mileage">
        <input tlimsInput placeholder="Mileage" formControlName="mileage"/>
      </tlims-form-group>
    </div>
    <div class="col-md-6" *ngIf="isField1 || isField3">
      <tlims-form-group label="Color">
        <select tlimsInput formControlName="color">
          <option [ngValue]="null">--Select Color--</option>
          <option *ngFor="let col of colors" [ngValue]="col">{{col.name}}</option>
        </select>
      </tlims-form-group>
    </div>
    <div class="col-md-6" *ngIf="isField1 || isField3">
      <tlims-form-group label="Transmission">
        <select tlimsInput formControlName="transmission">
          <option [ngValue]="null">--Select Transmission--</option>
          <option *ngFor="let trans of transmissions" [value]="trans.name">{{trans.value}}</option>
        </select>
      </tlims-form-group>
    </div>
    <div class="col-md-6">
      <tlims-form-group label="Price">
        <tlims-amount formControlName="price"></tlims-amount>
        <tlims-form-error [control]="vehicleForm.get('price')"></tlims-form-error>
      </tlims-form-group>
    </div>
    <div class="col-md-12">
      <div formGroupName="titleDescription">
        <tlims-description-box formControlName="description"></tlims-description-box>
        <tlims-form-error [control]="vehicleForm.get('titleDescription').get('description')"></tlims-form-error>
      </div>
    </div>
    <div class="col-md-6" *ngIf="isField1 || isField3">
      <label class="form-check-label mr-3 ">
        <input type="checkbox" formControlName="exchangeable"> Exchangeable
      </label>
      <label class="form-check-label">
        <input type="checkbox" name="negotiable" formControlName="negotiable"> Negotiable
      </label>
    </div>
  </div>
  <tlims-image-upload (images)="getImages($event)"></tlims-image-upload>
  <tlims-contact (contactDetails)="getContact($event)"></tlims-contact>
  <div class="row">
    <div class="col-md-12">
      <div class="form-group text-center">
        <button [tlimsButton]="isLoading" (click)="create()" [disabled]="vehicleForm.invalid">Save</button>
        <button tlimsButton color="btn-danger" [disabled]="isLoading" (click)="cancel()">Cancel</button>
      </div>
    </div>
  </div>
</form>
