/* You can add global styles to this file, and also import other style files */
@import '~swiper/dist/css/swiper.min.css';
@import "assets/variables/typography";

html{
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
  overflow-x: hidden;
  overflow-y: auto;
  background-size: contain;
  background-color: #f9f9f9;
  font-family: 'Quicksand', sans-serif !important;
  font-weight: 500;
  font-size: 0.825rem;
  color: #4a4a4a;
  outline: 0 !important;
  letter-spacing: .01428571em;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.tk-row2 {
  background: #fff;
  padding-top: 30px;
  padding-bottom: 100px;
}

.tk-row3 {
  padding-top: 40px;
  padding-bottom: 40px;
}

.animated {
  -webkit-animation-duration: .2s;
  animation-duration: .2s;
}

.tk-bold {
  font-weight: 700 !important;
}

.tk-heading {
  margin-bottom: 30px;
  position: relative;
  h3 {
    font-size: 22px;

    &:before {
      background-color: #ff7043;
      bottom: 6px;
      content: "";
      height: 1px;
      left: 0;
      margin: 0;
      position: absolute;
      right: 0;
      width: 99px;
    }

    &:after {
      background-color: #242424;
      bottom: 0;
      content: "";
      height: 1px;
      left: 0;
      margin: 0;
      position: absolute;
      right: 0;
      width: 59px;
    }
  }
}

.flexbox {
  display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
}

.navbar-md-md-top {
  padding-top: 3.6006rem;
}

.tlims-bg-default {
  background-color: #374252;
}

.page-title {
  padding: 1rem 0;
}

.login-form {
  background-color: #ffffff;
}

.dropdown-toggle::after {
  display: inline-block;
  border: 0;
  vertical-align: middle;
  font-size: .6875rem;
  margin-left: .46875rem;
  position: relative;
  font-family: 'themify';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: '\e64b';
}

.navbar-nav {
  .nav-item {
    a:not(.btn) {
      color: #aeb7be;
      text-decoration: none;
      background-color: transparent;
      -webkit-text-decoration-skip: objects;
    }
  }
}

.form-check {
  padding-left: 0;
}

.table-sm td, .table-sm th {
  padding: .4rem 1.25rem;
}

.card{
  border-radius: 2px !important;
  box-shadow: none;
  border: none;
}

.img-thumbnail {
  background: transparent !important;
  border-radius: 0;
  box-shadow: none;
  border: none;
}

.card-img {
  border-radius: 2px 2px 0 0 !important;
}

.tlims-card {
  .card-body{
    padding: .5rem 1.25rem;
  }
}
.tlims-card.card-body{
  padding: .5rem 1.25rem;
}

.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}



.tlims-fill {
  height: 100%;
  margin: 0px;
  min-height: 100%;
  min-width: 100%;
  width: 100%;
  flex-direction: column;
  box-sizing: border-box;
  display: flex;
  max-width: 100%;
  place-content: center;
  align-items: center;
}

.custom-control-label::before {
  background: #cdc8c8;
}

.btn-xs {
  line-height: 1 !important;
  padding: .3125rem .25rem !important;
}

.btn-sm {
  padding: .3125rem .5rem;
}

.btn-success {
  background: #00a591;

  &:hover {
    background: #008C77;
    color: #fff;
  }
}

.card-body {
  position: relative;
}

.item-title {
  margin-bottom: 25px;
  padding-top: 10px;
}

.info-title {
  padding-bottom: 5px;

  h5 {
    display: inline-block;
    margin-bottom: 0;
    color: #333;
  }
}

.nav-btn {
  height: 47px;
  position: absolute;
  width: 26px;
  cursor: pointer;
  top: 100px !important;
}

.box-shadow-none{
  box-shadow: none !important;
}

.tk-box-shadow {
  box-shadow: 0px 0px 10px rgba(175, 175, 175, 0.23);
}

.border-radius-0 {
  border-radius: 0 !important;
}

a {
  color: #5c6165;
  touch-action: manipulation;
}

.f-38 {
  font-size: 38px;
}

.f-32 {
  font-size: 32px;
}

.view-link {
  font-size: .76rem;
}

.f-13{
  font-size: 13px;
}

.f-16{
  font-size: 16px;
}

.f-14{
  font-size: 14px;
}

.f-10 {
  font-size: 10px;
}

.f-12 {
  font-size: 12px;
}

.list-group-item {
  &:hover {
    color: #0aa7ef;
    background: transparent;
  }
}
.list-group-item.active {
  color: #2196f3;
  text-decoration: underline;
  background-color: transparent;
  border-color: transparent;
}

.avatar {
  width: 60px;
  height: 60px;
  border: 1px solid #ddd;

  &:not(:last-child) {
    margin-right: 7px;
  }

  .avatar:hover {
    border: 1px solid #483add;
  }
}

.click {
  cursor: pointer;
}

tlims-amount, image-upload, app-ngx-editor {
  width: 100%;
}

ngx-image-zoom, .ngxImageZoomContainer {
  //width: 100% !important;
}

.ngxImageZoomContainer {
  //height: 392px !important;
}

.slick-prev, .slick-next {
  background: #c6c5c5;
  border-radius: 50%;
}

.slick-prev {
  left: -45px;
}

.slick-next {
  right: -45px;
}

.slick-prev:before {
  content: '\e64a';
}

.slick-next:before {
  content: '\e649';
}

.slick-prev:before, .slick-next:before {
  font-family: 'themify';
  font-size: 12px;
}


/// SLIDER
.ng5-slider .ng5-slider-bubble {
  font-size: 11px !important;
}

.ng5-slider .ng5-slider-pointer {
  width: 20px !important;
  height: 20px !important;
  top: -8px !important;
  background-color: #0e3357 !important;
}


.ng5-slider .ng5-slider-pointer:after {
  top: 6px !important;
  left: 30% !important;
}

.ng5-slider .ng5-slider-selection {
  background: #0e3357 !important;
}

.btn-next, .btn-prev {
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  overflow: hidden;
  padding: 0;
  border: none;
  outline: 0;
  background-color: #f5f5f5;
  color: #333333;
  background-image: none !important;
  text-indent: 0;
  opacity: 1;
  font-size: 20px;
  transition: opacity 300ms ease-in-out, background-color 300ms ease-in-out, color 300ms ease-in-out;
  -moz-transition: opacity 300ms ease-in-out, background-color 300ms ease-in-out, color 300ms ease-in-out;
  -webkit-transition: opacity 300ms ease-in-out, background-color 300ms ease-in-out, color 300ms ease-in-out;
  -o-transition: opacity 300ms ease-in-out, background-color 300ms ease-in-out, color 300ms ease-in-out;
}

.btn-next:hover, .btn-next:active, .btn-next:focus, .btn-prev:hover, .btn-prev:active, .btn-prev:focus {
  color: #f5f5f5;
  background-color: #333333;
  outline: 0;
}

.btn-prev {
  background-position: -10px -10px;
  margin-right: 2px;

  &:before{
    content: '\e64a';
  }
}

.btn-next:before {
  content: '\e649';
}

.btn-next:before, .btn-prev:before {
  font-family: 'themify';
  font-size: 12px;
  text-align: center;
}


@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}

.ngx-tabs {
  background: white;
}

.table thead th {
  font-weight: 600;
}

.ngx-tabs__nav>a.active, .ngx-tabs__nav>a.active:focus, .ngx-tabs__nav>a.active:hover, .ngx-tabs__nav>button.active, .ngx-tabs__nav>button.active:focus, .ngx-tabs__nav>button.active:hover {
  color: #ff7043 !important;
}


//.slick-list, .slick-track {
//  height: 100% !important;
//}
//
//ngx-slick {
//  height: 200px;
//}
//
//@media (min-width: 576px) {
//  ngx-slick {
//    height: 250px;
//  }
//}
//
//@media (min-width: 768px) {
//  ngx-slick {
//    height: 300px;
//  }
//}
//
//@media (min-width: 992px) {
//  ngx-slick {
//    height: 400px;
//  }
//}
//
//@media (min-width: 1200px) {
//  ngx-slick {
//    height: 400px;
//  }
//}

